<%- include('../partials/header') %>

<div class="container">
    <div class="user-form">
        <h1 style="text-align:center;">EDIT COMMENT</h1>
        <div style="width:30%; margin: 25px auto;">
            <form class="user-form" action="/hot_topics/<%= hot_topic_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <textarea class="textbox" rows="10" cols="100" type="text" name="comment[text]" value="<%= comment.text %>"></textarea>
                <button class="btn btn-lg btn-primary btn-block">Submit</button>             
            </form>
            
            <a href="/hot_topics/<%= hot_topic_id %>">Go back</a>
        </div>
        
    </div>
</div>

<%- include('../partials/footer') %>