<%- include('../partials/header') %>

<div class="container">
    <div class="user-form">
        <h1 style="text-align:center;">Report Hot Take</h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/hot_topics/<%= comment.hot_topic._id %>/comments/<%= comment._id %>/report" method="POST">
                <div class="form-group">
                    <p><%= comment.text %></p>
                </div>
                <div class="form-group">
                    <label for="report_reason">Reason for reporting: </label>
                    <textarea class="form-control" rows="10" name="report_reason" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form> 
            <a href="/hot_topics/<%= comment.hot_topic._id %>">Go back</a>           
            
        </div>
        
    </div>
</div>
