<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="column user-info">
            <img class="profile-pic" src="https://www.zooniverse.org/assets/simple-avatar.png">
            <hr>
            <h2 class="teal-bg">@<%= user.username %></h2>
            <h3><%= user.first_name %> <%= user.last_name %></h3>
            <p><%= user.bio %></p>

            <hr>

        </div>
    
        
        <div class="column opinions-column">
            <h1 class="teal-bg">Hot Topics</h1>
            
            <% user.hot_topics.forEach(function(hot_topic){ %>
                <div class="row">
                    <div class="col-md-12 profile-topics">
                        <a href="/hot_topics/<%= hot_topic._id %>"><%= hot_topic.title %></a>
                    </div>
                </div>
            <% }) %>
            <hr>
            
            <h1 class="teal-bg">HOT TAKES</h1>
                <% user.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12 profile-topics">
                            <p><%= comment.text %></p>                            
                        </div>
                    </div>
                <% }) %>
        </div>
    </div>
</div>





<%- include('partials/footer') %>