<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="column user-info">
            <div>
                <img class="profile-pic" src="https://www.zooniverse.org/assets/simple-avatar.png">
                <br>
                <br>
                <h3 class="username-bg">@<%= user.username %></h3> <h3 id="profile-name">- <%= user.first_name %> <%= user.last_name %></h3>
                <p id="user-bio"><%= user.bio %></p>

                <% if (currentUser && user._id.equals(currentUser._id)){ %>
                    <a class="btn btn-xs btn-warning" href="/user/edit/<%= user.username %>">Edit Profile</a>
                <% } %>     
                
            </div>
        </div>
    
        
        <div class="column opinions-column">
            <h1 class="heading-bg">HOT TOPICS</h1>
            
            <% user.hot_topics.forEach(function(hot_topic){ %>
                <div class="row">
                    <div class="col-md-12 profile-topics">
                        <a href="/hot_topics/<%= hot_topic._id %>"><%= hot_topic.title %></a>
                    </div>
                </div>
            <% }) %>
            <hr>
            
            <h1 class="heading-bg">HOT TAKES</h1>
                <% user.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12 profile-topics hot-takes">
                            <p><strong><a href="/hot_topics/<%= comment.hot_topic._id %>"><%= comment.hot_topic.title %></a></strong></p>
                            <% if (comment.text.length < 270) { %>
                                <p><%= comment.text %></p>
                            <% } else { %>
                                <p><%= comment.text.substring(0, 270) %> ... </p>
                                <a class="btn btn-xs btn-outline-dark pull-right" href="/hot_topics/<%= comment.hot_topic._id %>">Read More</a>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
        </div>
    </div>
</div>

<%- include('partials/footer') %>