<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= hot_topic.image %>">
                <div class="caption-full">
                    <h4><%= hot_topic.title %></h4>
                    <p><%= hot_topic.description %></p>       
                    <p>Posted by: <a href="/user/<%= hot_topic.author.username %>"><%= hot_topic.author.username %></a></p>  
                    <% if (hot_topic.edited) { %>
                        <p>Edited on <%= hot_topic.updated_at.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' }) %> at <%= hot_topic.updated_at.toLocaleTimeString() %></p>
                    <% } else { %>
                        <p>On <%= hot_topic.created_at.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' }) %> at <%= hot_topic.created_at.toLocaleTimeString() %></p>
                    <% } %>

                    <% if (currentUser && !hot_topic.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-danger" href="/hot_topics/<%= hot_topic._id %>/report">Report</a>  
                    <% } %> 
                    

                    <% if (currentUser && hot_topic.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/hot_topics/<%= hot_topic._id %>/edit">Edit</a>  
                        <form id="delete-form" action="/hot_topics/<%= hot_topic._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>                    
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/hot_topics/<%= hot_topic._id %>/comments/new">Add Comment</a>
                </div>
                <hr>
                <% hot_topic.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><a href="/user/<%= comment.author.username %>"><%= comment.author.username %></a></strong> 
                            <span class="pull-right">
                                <% if (comment.edited) { %>
                                    <p>Edited on <%= comment.updated_at.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' }) %> at <%= comment.updated_at.toLocaleTimeString() %></p>
                                <% } else { %>
                                    <p>Posted on <%= comment.created_at.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' }) %> at <%= comment.created_at.toLocaleTimeString() %></p>
                                <% } %>
                            </span> 
                            <p><%= comment.text %></p>

                            <% if (currentUser && !comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-danger pull-right" href="/hot_topics/<%= hot_topic._id %>/comments/<%= comment._id %>/report">Report</a>  
                            <% } %>   

                            <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/hot_topics/<%= hot_topic._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form id="delete-form" action="/hot_topics/<%= hot_topic._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>    
                            <% } %>                             
                            <hr>
                        </div>
                    </div>
                <% }) %>

            </div>
        </div>

        <div class="col-md-3">
            <p class="lead">YOUR LINKS</p>
            <div class="list-group">
                <% if (currentUser){ %>
                    <li class="list-group-item"><a href="/user/<%= currentUser.username %>">Profile</a></li>
                <% } %>
                <li class="list-group-item"><a href="#">Bookmarks</a></li>
                <li class="list-group-item"><a href="/hot_topics">Explore</a></li>
                <li class="list-group-item"><a href="/about">FAQ's</a></li>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>